---
// Component Imports
import { css, ThemeProvider } from '@mui/material/styles';
import { theme } from "../themes";
import Main from '../components/Main';
import { Grid } from '@mui/material';
import "../styles/global.css";

const cssik = css({
	backgroundColor: "pink"
});

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>SAMI</title>
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<ThemeProvider theme={theme}>
			<div class="centered">
				<Main client:visible>
					<h1>Hello, React!</h1>
				</Main>
			</div>
		</ThemeProvider>
	</body>
</html>
